# Exclude wp-data directory
wp-data/

# Exclude db_data directory
db_data/

# Composer dependencies
/vendor/

# IDE-specific
.idea/
.vscode/

# Logs and caches
*.log
.cache/

# PHP temp files
*.swp
*.swo
*.swn

.env
TODO.md
images/
temp/
bundle_plugin/